<p>rooms in {{ hotelName }} works!</p>
<div [hidden]="hideRooms">
  Number of rooms
  <div [innerText]="numberOfRooms"></div>
</div>

<!-- {{ rooms?.availableRooms ?? "No rooms" }} -->
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<div>
  <button (click) = "addRoom()">Add Room</button>
</div>
<div *ngIf="rooms?.availableRooms">
  <app-rooms-list
    [rooms]="this.roomList"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<button (click)="toggle()">toggle</button>
